.inputContainer {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 100%;
  margin-bottom: 15px;
  background-color: #f2f2f2;
}

.icon {
  padding: 10px;
  color: #397ae3;
  text-align: center;
}

.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
  box-sizing: border-box;
  border-width: 0;
  font-size: 14px;
  font-weight: bold;
  color: #397ae3;
}

/* .inputContainer #searchInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 20px;
  box-sizing: border-box;
  outline: none;
  border-width: 0;
  font-size: 14px;
  font-weight: bold;
}

#searchInput::placeholder {
  color: #979797;
  font-weight: bold;
  font-size: 14px;
} */
