form #searchInput {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0 20px;
  box-sizing: border-box;
  outline: none;
  border-width: 0;
  border-bottom-width: 1;
  font-size: 14px;
  font-weight: bold;
}

#searchInput::placeholder {
  color: #4b4b4b;
  font-weight: bold;
  font-size: 14px;
}
