.jobcardWrapper {
  border-bottom: 0.1rem solid #f7f7f7;
  padding: 1rem;
}

.titleRow {
  display: flex;
}

.titleRow #jobTitle {
  flex: 1;
  font-weight: "bold";
  font-size: 30px;
}

.titleRow #jobSalary {
  flex: 1;
}
