.btn {
  background-color: "transparent";
  border: none;
  color: "black";
  padding: 1rem;
  text-align: center;
  border-color: #4caf50;
  border-width: 1rem;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.btn-round {
  border-radius: 1.5rem;
}
