.btn {
  border: 2px solid;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
}

.btn-round {
  border-radius: 15px;
}

.primary {
  border-color: #397ae3;
  color: #397ae3;
}

.primary:hover {
  background: #397ae3;
  color: white;
}
