.btn {
  border: 0.1rem solid;
  padding: 0.6rem;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  width: 100%;
  cursor: pointer;
}

.btn-round {
  border-radius: 1.5rem;
}

.primary {
  border-color: #397ae3;
  color: #397ae3;
}

.primary:hover {
  background: #397ae3;
  color: white;
}
