.btn {
  border: 0.1rem solid;
  color: "black";
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.btn-round {
  border-radius: 1.5rem;
}

.primary {
  border-color: #397ae3;
  color: #397ae3;
}
